.nav-container {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 67.5% 32.5%;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.navigation-left {
  padding-top: 20px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  color: #ffe7ff;
  text-align: center;
}

.navigation-right {
  padding-top: 20px;
  grid-column-start: 2;
  grid-column-end: end;
  grid-row-start: 1;
  grid-row-end: 2;
  color: #296f96;
  text-align: center;
}

.nav-tab {
  font-size: 1.5em;
  font-weight: bold;
  padding: 3em;
  text-decoration: none;
  color: inherit;
}

/* 
import React from "react";
import "./Navigation.css";

class Navigation extends React.Component {
  render() {
    const testArray = ["K", "i", "t", "t", "y", "S", "m", "a", "l", "l", "s"];

    return (
      <div className="nav-container">
        <div className="navigation-left">
          <nav>
            <a href="#">Main</a>
            <a href="#">Create</a>
          </nav>
        </div>
        <div className="navigation-right">
          <nav>
            <a href="#">Saved</a>
            <a href="#">About</a>
          </nav>
        </div>
      </div>
    );
  }
}

// ========================================

export default Navigation; */
