.create-container {
  display: grid;
  grid-template-rows: 5% 15% auto;
  grid-template-columns: 5% 62.5% 27.5% 5%;
  height: 100%;
  width: 100%;
}

.textfield {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.settings {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: end;
  border: 10px solid #296f96;
  background-color: white;
}

.textgrid {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: end;
  background-color: white;
  margin: 10px;
  outline: 10px solid #ffe7ff;
  overflow: auto;
}
