textarea {
  all: unset;
  background-color: #f8f8ff;
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
}

.textfield-container {
  height: 100%;
  margin: 10px;
  outline: 10px solid #ffe7ff;
}
