.textgrid-container {
  display: grid;
  grid-template-columns: repeat(150, 0.6vw);
  grid-template-rows: repeat(45, 0.6vw);
  max-height: 65vh;
  overflow: auto;
}

/* .row {
  display: grid;
  grid: repeat(1, 3px) / auto-flow;
}

.row > .square {
  margin: 1px;
  background: tomato;
} */

/* .textgrid-container > div {
  background: white;
  outline: 1px solid black;
  padding: 1rem;
}

.textgrid-container > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
} */
