@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap");
* {
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 4px;
}
.main-container {
  display: grid;
  grid-template-rows: 10% 85% 5%;
  grid-template-columns: 67.5% 32.5%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.navigation {
  grid-column-start: 1;
  grid-column-end: end;
  grid-row-start: 1;
  grid-row-end: 2;
}

.content-left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: end;
  background-color: #296f96;
  color: #ffe7ff;
  /* font-size: 6em;
  text-align: right;
  padding-right: 22.5vw;
  padding-top: 15vh; */
}

.content-right {
  grid-column-start: 2;
  grid-column-end: end;
  grid-row-start: 1;
  grid-row-end: end;
  /* font-size: 6em;
  font-weight: bolder;
  padding-right: 5vw; */
  color: #296f96;
  background-color: #ffe7ff;
  /* writing-mode: vertical-rl; */
  /* padding-top: 15vh; */
}

.page-container {
  grid-column-start: 1;
  grid-column-end: end;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 100%;
  width: 100%;
}
