.home-container {
  display: grid;
  grid-template-rows: 15% 85%;
  grid-template-columns: 50% 17.5% 17.5% 15%;
  height: 100%;
  width: 100%;
}
.left {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: end;
  color: #ffe7ff;
  font-size: 6em;
  text-align: right;
  padding-right: 22.5vw;
}

.right {
  grid-column-start: 3;
  grid-column-end: end;
  grid-row-start: 2;
  grid-row-end: end;
  font-size: 6em;
  font-weight: bolder;
  padding-right: 5vw;
  color: #296f96;
  writing-mode: vertical-rl;
}
.home-image {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: end;
  height: 85vh;
  width: auto;
  text-align: center;
}

.image {
  height: 100%;
  width: auto;
}
